.header {
   border-bottom: 1px solid #ececec;
}

.header-inner {
   display: flex;
   align-items: center;
}

.logo {
   font-family: $ffraleway;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   cursor: pointer;
   text-decoration: none;
   color: $logocolor;
   margin-right: 93px;

   &:focus {
      color: $maincolor2;
   }

   // .logo__web

   &__web {
      color: $maincolor2;
   }
}

.nav {  
  
   // .nav__list
   
   &__list {
      padding-bottom: 300px;
   }

   // .nav__item

   &__item {
      @media (max-width: 767px) {
         &:not(:last-child) {
            padding: 0 0 32px 0;
         }
      }
   }
   // .nav__link

   &__link {
      position: relative;
      display: inline-block;
      text-decoration: none;
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
      color: $maincolor;
      letter-spacing: 0.02em;

      display: inline-block;

      transition: color $animation;

      &:hover,
      &:focus {
         color: $maincolor2;
      }

     
   }
}
.nav__link--active{
   color: $aboutbuttonhover;
}

.nav__item .contact {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   display: flex;
   margin-left: auto;
   display: block;
   margin-right: 0;
}
.contact {
   @media (max-width: 767px) {
      & {
         margin-bottom: 64px;
      }
   }
&__item{
   @media (max-width: 767px) {
      &:first-child .contact__link {
         margin-bottom: 32px;
         font-size: 34px;
         line-height: 1.17;
         color: $maincolor2;
         white-space: normal;
      }
   }
}
   // .contact__link
   &__link {
      font-weight: 500;
      letter-spacing: 0.02em;
      color: var(--infocolor);
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      color: $infocolor;
      transition: color $animation;
      word-break: break-word;

      &:focus,
      &:hover {
         color: $maincolor2;
      }
      
      @media (max-width: 767px) {
         // &:hover,
         // &:focus {
         //    font-size: 34px;
         //    line-height: 1.17;
         // }
      }
   }

   // .contact__icon

   &__icon {
      display: block;
      margin-right: 10px;
      fill: currentColor;
   }
}

@media (min-width: 480px) {
}

// @media (max-width: 767px) {
//    .contact{
//       display: none;
//    }
//    nav{
//       display: none;
//    }
// }
@media (min-width: 768px) {
   .nav__list {
      display: flex;
      padding-bottom: 0;
   }
   .nav__link {
      font-size: 14px;
      line-height: 1.14;
   }
   .nav__item {
      padding: 0;
   }
   .nav__item:not(:last-child) {
      margin-right: 50px;
   }
   .nav__link--active {
    
    
      &::after {
         content: "";
         display: block;
         position: absolute;
         bottom: 0;
         width: 100%;
         height: 4px;
         border-radius: 2px;
         background-color: $aboutbuttonhover;
         transition: background-color $animation;
      }
   }

   .nav__link {
      padding: 32px 0;
   }
   .contact {
      margin-left: auto;

      &__link {
         font-size: 14px;
         line-height: 1.14;
         color: $maincolor;
      }
   }
   .menu-container {
      display: flex;
      align-items: center;
   }
}

@media (min-width: 1200px) {
   .contact {
      display: flex;
   }
   .contact__link {
      padding: 32px 0 32px 0;
   }
   .contact__item:not(:last-child) {
      margin-right: 50px;
   }
}
