.hero {
   padding-top: 118px;
   padding-bottom: 118px;
   text-align: center;
   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/hero_480px.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   max-width: 1600px;
   margin-left: auto;
   margin-right: auto;

   // .hero__title

   &__title {
      font-weight: 900;
      font-size: 26px;
      line-height: 1.61;
      // font-size: 44px;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: $logotext;
      margin: 0 auto 30px auto;
      // max-width: 696px;
      max-width: 360px;
   }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
   .hero {
      background-image: url("./../images/hero_480px@2x.jpg");
   }
}

@media (min-width: 768px) {   
   .hero {
      background-image: url("./../images/hero_768px.jpg");
   }
   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .hero {
         background-image: url("./../images/hero_768px@2x.jpg");
      }
   }

}

@media (min-width: 1200px) {
   .hero {
      background-image: url("./../images/hero_1200px.jpg");
   }
   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .hero {
         background-image: url("./../images/hero_1200px@2x.jpg");
      }
   }
}
