.section--otherbg {
   background-color: $buttonportfolio;
}
.section__title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
   letter-spacing: 0.03em;
   text-align: center;
   margin-bottom: 50px;
}
.team {
   display: flex;
   justify-content: space-between;


&__img {
   display: block;
   max-width: 100%;
   height: auto;
}

// .team__item

&__item {
   width: 270px;
   background-color: $logotext;
   text-align: center;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}

// .team__info

&__info {
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 32px;
   padding-right: 32px;
}

// .team__name

&__title {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.18;
   letter-spacing: 0.03em;
   font-weight: 500;
   color: $maincolor;
   margin-bottom: 10px;
}

// .team__text                    

&__text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.18;
   letter-spacing: 0.03em;
   color: $infocolor;
   margin-bottom: 16px;
}
}