body {
   color: $maincolor;
   font-family: $ffroboto;
 }
 
 h1, h2, h3, p, ul, ol, li {
   margin: 0;
   padding: 0;
   list-style-type: none;
 }
 .container {
   width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
 }
 
 .section {
   padding-top: 94px;
   padding-bottom: 94px;
 }