body {
   color: $maincolor;
   font-family: $ffroboto;
}

h1,
h2,
h3,
p,
ul,
ol,
li {
   margin: 0;
   padding: 0;
   list-style-type: none;
}
@media(min-width:480px){
   .container{
      width: 480px;
   }
}
@media(min-width:768px){
   .container{
      width: 768px;
   }
}
@media(min-width:1200px){
   .container{
      width: 1200px;
   }
}

.container {
   margin: 0 auto;
   padding: 0 15px;
}

.section {
   padding-top: 60px;
   padding-bottom: 60px;
}

@media (min-width: 1200px) {
   .section {
      padding-top: 94px;
      padding-bottom: 94px;
   }
}
