.button {
   font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.06em;
   align-items: center;
   text-align: center;
   width: 200px;
   height: 50px;
   color: $logotext;
   background-color: $maincolor2;
   border-radius: 4px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border: none;
   cursor: pointer;
   transition: color $animation, background-color $animation;

   &:hover {
      background-color: $aboutbuttonhover;
      color: $bgcolor;
      fill: $bgcolor;
   }
   &:focus {
      background-color: $maincolor2;
   }
}
