// colors start
$bgcolor: #2f303a;
$maincolor: #212121;
$maincolor2: #2196f3;
$logocolor: #000000;
$logotext: #ffffff;
$aboutbuttonhover: #188ce8;
$infocolor: #757575;
$buttonportfolio: #f5f4fa;
$iconcolor: #afb1b8;
// colors and

// fonts start
$ffraleway: "Raleway";
$ffroboto: "Roboto", sans-serif;
// fonts end

// animation
$animation: 0.25s cubic-bezier(0.4, 0, 0.2, 1)
// animation and